<!-- main.hbs -->

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>National Parks Database</title>
        <link href="/css/style.css" rel="stylesheet" />
    </head>

    <!--nav bar links to all entity html files-->
    <nav>
        <a href="/">Home</a> |
        <a href="/campgrounds">Campgrounds</a> |
        <a href="/reservations">Reservations</a> |
        <a href="/employees">Employees</a> |
        <a href="/participants">Participants</a> |
        <a href="/programs">Programs</a> |
    </nav>

    <body>
        {{{body}}}
    </body>

    <br><footer>&copy; Copyright 2024 Viviana McIntyre and Arianna Valencia</footer>
</html>