<head>
    <meta charset="utf-8"> <!--allows for all characters to be entered into html file-->
    <title>Park Campgrounds</title>
</head>

<div class="entityContents">
    <div class="tableDiv" id="campgroundTableDiv">
        <h2>Park Campgrounds</h2>
        <p>Find all of the park campgrounds listed here.</p>

        {{!-- Create a table --}}
        <table id="campgrounds-table">

            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each campgrounds.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the campground_id, campground_name, and num_campsites--}}
                {{#each campgrounds}}
                <tr>
                    <td>{{this.campground_id}}</td>
                    <td>{{this.campground_name}}</td>
                    <td>{{this.num_campsites}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>

                <!--form to add new campground-->
    <div  class="forms" id="newCampgroundDiv">
        <h3>Add a Campground</h3>
        <p>To add a new campground, please enter the campground information below and click 'Submit'!</p>
            <form id="add-campground-form">
                <fieldset>
                        <label for="input-cg-name">Campground Name: </label>
                            <input type="text" name="input-cg-name" id="input-cg-name" required>
                        <label for="input-num-cs">Number of Campsites: </label>
                            <input type="number" name="input-num-cs" id="input-num-cs" required>
                </fieldset><br>
            <input class="submitButton" type="submit">
            </form><br>
        <script src="./js/add_campground.js"></script>
    </div>
</div>