<!-- index.hbs -->

<head>
    <meta charset="utf-8"> <!--allows for all characters to be entered into html file-->
    <title>Yosemite National Park Reservations</title>
    
</head>

<!--plan on making this into a list, filler paragraph for now-->
<div id="homePage">
    <!--<h1>Yosemite National Park Reservations</h1>-->
    <img src=https://i2.pickpik.com/photos/585/736/932/yosemite-el-capitan-california-landscape-preview.jpg>
    <div id="homeText">
        <h2>Welcome! Use this reservations system to manage our National Park's reservations.</h2>
        <p>National Parks have many campgrounds and programs available to park visitors. For example, Yosemite National Park has 13 different campgrounds with Yosemite Valley Family Sites, one of its campgrounds, having 459 sites. It also offers dozens of Ranger and Interpretive programs.

        This database keeps track of reservations made at Yosemite National Park and is meant to increase efficiency to park employees in managing reservations, and by extension, make park resources more accessible to the public. Parks have access to participant, employee, program, campground, and reservation data. Employees can make reservations for registered participants. Participant profiles include their full name, age and relevant contact information to determine program eligibility and also maintain open communication.
        </p>
    </div>
</div>
