<!-- index.hbs -->

<head>
    <meta charset="utf-8"> <!--allows for all characters to be entered into html file-->
    <title>Yosemite National Park Reservations</title>
</head>

<h1>Yosemite National Park Reservations</h1>
<p>Welcome! Use this reservations system to manage our National Park's reservations. The table below 
    will help you become acquainted with the system's functionality.
</p>
        
