<head>
    <meta charset="utf-8"> <!--allows for all characters to be entered into html file-->
    <title>Park Programs</title>
</head>

<!--nav bar links to all entity html files-->
        <nav>
            <a href="/">Home</a> |
            <a href="/campgrounds">Campgrounds</a> |
            <a href="/reservations">Reservations</a> |
            <a href="/employees">Employees</a> |
            <a href="/participants">Participants</a> |
            <a href="/programs">Programs</a> |
        </nav>

<h1>Park Programs</h1>
<p>Find the park's programs listed here.</p>